.NavItem {
    list-style: none;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: lighter;
    width: 33%;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 425px) {
    .NavItem {
        width: 100%;
    }
}