.NavBar {
    background-color: #7851a9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.NavBar li:last-child{
    offset-position: auto;
    font-size: 2rem;
}

@media only screen and (max-width: 425px) {
    .NavBar {
        display: block;
    }
}